:root {
  --brand-color-secondary: #2b71d6;
}

html {
  font-family: "Pretendard", sans-serif;
}

#rev_slider_1174_1_wrapper {
  // width: 100% !important;
  left: 0 !important;
}
nav.navbar.bootsnav ul.nav>li>a {
  font-size: 14px;
}
/* 메인 텍스트 */
#slide-3238-layer-10 {
  /* display: none;  */
  /* z-index: 1; */
  /* transform: none !important; */
}

#slide-3238-layer-11 {
  /* display: none; */
  /* z-index: 1; */
  /* transform: none !important; */

  @media (max-width: 768px) {
    transform: none !important;
  }
}

#slide-3238-layer-12 {
  /* display: none; */
  /* z-index: 1; */
  /* transform: none !important; */
  @media (max-width: 768px) {
    transform: none !important;
  }
}

/* 검은 펜 */
/* #slide-3238-layer-4 { */
/* z-index: 1 !important; */
/* } */

/* 빨간 펜 */
#slide-3238-layer-5 {
  /* z-index: 1 !important; */
}

/* 뒤 종이 */
#slide-3238-layer-3 {
  /* z-index: 1 !important; */
}
   
nav.navbar.bootsnav.navbar-fixed {
  z-index: 1001;
}

.navbar-menu-01,
.navbar-menu-02 {
  animation: navFadeIn 1s ease;
}
.navbar-menu-1 {
  z-index: 2001;
}
.navbar-menu-02 {
  position: relative;
  z-index: 2002;
}
@keyframes navFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  nav.navbar.bootsnav .navbar-header {
    float: none;
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  nav.navbar.bootsnav .navbar-toggle {
    display: inline-block;
    margin-right: 0px;
    margin-top: 10px;
  }

  nav.navbar.bootsnav .navbar-collapse.collapse {
    display: none !important;
  }

  nav.navbar.bootsnav.no-full .navbar-collapse {
    max-height: 350px;
    overflow-y: auto !important;
  }

  nav.navbar.bootsnav.navbar-transparent .logo,
  .logo {
    text-align: left;
    height: 60px;
  }

  nav.navbar.bootsnav.navbar-fixed .logo-display {
    display: none !important;
  }
}

nav.navbar.bootsnav.navbar-transparent.brand-center .logo,
.brand-center .logo {
  z-index: 1;

  img {
    aspect-ratio: 138 / 42;
    width: auto;
    // max-height: 60px;
    max-height: 32px;
  }

  @media (max-width: 1023px) {
    margin: 0;
  }
}

.section-title h1 {
  font-size: 36px;
}

.section-title h1 span {
  font-size: 0.75em;
  font-weight: 400;
}

@media (max-width: 1023px) {
  .section-title h1 {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  .section-title h1 {
    font-size: 24px;
  }
}

.feature-box {
  word-break: keep-all;
}

.feature-box-default-bg:after {
  background: var(--brand-color-secondary);
}

.feature-box-default-bg:hover i {
  path {
    fill: white !important;
  }
}

.mission-section {
  span,
  .panel-title {
    color: black;
  }
}
div {
  word-break: keep-all;
}

.parallax-bg i {
  color: white !important;
}
.parallax-bg .overlay-bg {
  background-image: url("../images/images__smpl/geometry-bg.jpg");
}

.parallax-bg .overlay-bg:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  left: 0;
  top: 0;
  content: "";
  display: block;
}

.contact-additional-text {
  margin-top: 0.5em;
  display: block;
}

.pricing-box ul li strong {
  padding-right: 0.3333em;
  color: inherit;
  font-size: 1.5rem;
  padding-top: 0.75em;
  display: block;
}

.pricing-box .price-annotation {
  display: block;
  opacity: 0.5;
}

.copy-right {
  font-size: 0.875em;
  color: #666;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.pricing-box .value h3 span {
  right: -1.5ch;
}

.social-icons-style-02 span {
  color: #fff;
}

.team-img {
  cursor: pointer;
}

.team-info h3 {
  font-size: 1.25em;
}

.about-section-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-image: url('../images/images__smpl/overlay-bg.jpg') */
}

.counter-wrap h3 {
  letter-spacing: normal;
}

section.client {
  background: var(--brand-color-secondary);
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.client-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 4em;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 785px) {
  section.client {
    gap: 3em;
  }

  .client-list {
    gap: 3em;
  }
}

@media (max-width: 1024px) {
  .client-list {
    flex-flow: row wrap;
  }
}

.client-list img {
  opacity: 1;
}

.pricing-box.featured {
  background-color: var(--brand-color-secondary);
}

.icon-text.feature-box-2 .icon {
  // background-color: var(--brand-color-secondary);
  background: transparent;
  padding: 4px;
}

.team.style-2:hover .team-img.valid img {
  opacity: 1;
}

.portfolio-tag {
  display: block;
  margin-bottom: 0.2222em;
}

.team-info .title {
  font-weight: bold;
}

.btn {
  letter-spacing: 0;
}
.contact-form-style-01 .btn-color {
  opacity: 1;
  border: 0;
  background: var(--brand-color-secondary);
}

.tp-mask-wrap {
  opacity: 1;
}
.tp-caption#slide-3238-layer-10,
.tp-caption#slide-3238-layer-11,
.tp-caption#slide-3238-layer-12,
.tp-caption#slide-3238-layer-13,
.tp-caption#slide-3238-layer-14,
.tp-caption#slide-3238-layer-15 {
  transform-origin-y: 100% !important;
}

#slide-3238-layer-4 {
  /* z-index: 101 !important; */
}

.social-floating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.5em;
  font-size: 1.3333rem;
  color: #333;
  font-weight: bold;
  background: #ffe812;
  border-radius: 2000px;
  position: fixed;
  /* left: 50%; */
  bottom: 20px;
  z-index: 101;
  display: none;
  transition: opacity 0.25s ease;
  right: 6rem;
  /* transform: translate(-50%, 0); */
}

.social-floating i {
  font-size: 1.5555rem;
  margin-right: 0.2222em;
}
.footer-copyright {
  z-index: 102;
  position: relative;
}

#return-to-top {
  z-index: 103;
}

input,
textarea,
select {
  background-color: #f2f2f2;
}
