nav.navbar.bootsnav.navbar-fixed {
  z-index: 1001;
}

@media (max-width: 1023px) {
  nav.navbar.bootsnav .navbar-header {
    float: none;
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  nav.navbar.bootsnav .navbar-toggle {
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
  }

  nav.navbar.bootsnav .navbar-collapse.collapse {
    display: none !important;
  }

  nav.navbar.bootsnav.no-full .navbar-collapse {
    max-height: 350px;
    overflow-y: auto !important;
  }

  nav.navbar.bootsnav.navbar-transparent .logo,
  .logo {
    text-align: left;
    height: 60px;
  }

  nav.navbar.bootsnav.navbar-fixed .logo-display {
    display: none !important;
  }

  .logo img {
    max-height: 32px;
  }
}

.section-title h1 {
  font-size: 36px;
}

.section-title h1 span {
  font-size: 0.75em;
  font-weight: 400;
}

@media (max-width: 1023px) {

  .section-title h1 {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  .section-title h1 {
    font-size: 24px;
  }
}

.feature-box {
  word-break: keep-all;
}

div {
  word-break: keep-all;
}

.contact-additional-text {
  margin-top: 0.5em;
  display: block;
}
