nav.navbar.bootsnav.navbar-fixed {
  z-index: 1001;
}

@media (max-width: 1023px) {
  nav.navbar.bootsnav .navbar-header {
    float: none;
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  nav.navbar.bootsnav .navbar-toggle {
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
  }

  nav.navbar.bootsnav .navbar-collapse.collapse {
    display: none !important;
  }

  nav.navbar.bootsnav.no-full .navbar-collapse {
    max-height: 350px;
    overflow-y: auto !important;
  }

  nav.navbar.bootsnav.navbar-transparent .logo,
  .logo {
    text-align: left;
    height: 60px;
  }

  nav.navbar.bootsnav.navbar-fixed .logo-display {
    display: none !important;
  }
}