html {
  font-family: 'Pretendard', sans-serif; 
}

nav.navbar.bootsnav.navbar-fixed {
  z-index: 1001;
}

@media (max-width: 1023px) {
  nav.navbar.bootsnav .navbar-header {
    float: none;
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  nav.navbar.bootsnav .navbar-toggle {
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
  }

  nav.navbar.bootsnav .navbar-collapse.collapse {
    display: none !important;
  }

  nav.navbar.bootsnav.no-full .navbar-collapse {
    max-height: 350px;
    overflow-y: auto !important;
  }

  nav.navbar.bootsnav.navbar-transparent .logo,
  .logo {
    text-align: left;
    height: 60px;
  }

  nav.navbar.bootsnav.navbar-fixed .logo-display {
    display: none !important;
  }


}

.logo img {
  max-height: 32px;
}

.section-title h1 {
  font-size: 36px;
}

.section-title h1 span {
  font-size: 0.75em;
  font-weight: 400;
}

@media (max-width: 1023px) {

  .section-title h1 {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  .section-title h1 {
    font-size: 24px;
  }
}

.feature-box {
  word-break: keep-all;
}

.feature-box i {
  color: #000;
}

div {
  word-break: keep-all;
}

.parallax-bg i {
  color: white !important;
}
.parallax-bg .overlay-bg {
  background-image: url('../images__smpl/geometry-bg.jpg');
}

.parallax-bg .overlay-bg:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  left: 0;
  top: 0;
  content: "";
  display: block;
}

.contact-additional-text {
  margin-top: 0.5em;
  display: block;
}

.pricing-box ul li strong {
  padding-right: .3333em;
  color: inherit;
  font-size: 1.5rem;
  padding-top: 0.75em;
  display: block;
}

.pricing-box .price-annotation {
  display: block;
  opacity: .5;
}

.copy-right {
  font-size: 0.875em;
  color: #666;
}


.footer-logo img {
    width: 100px;
    height: auto;
}

.pricing-box .value h3 span {
  right: -1.5ch;
}

.social-icons-style-02 span {
  color: #fff;
}

.team-img {
  cursor: pointer;
} 

.team-info h3 {
  font-size: 1.25em;
}

.about-section-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-image: url('../images__smpl/overlay-bg.jpg') */

}

.counter-wrap h3 {
  letter-spacing: normal;
}

section.client {
  background: #3D3D3D;
    display: grid;
  grid-template-columns: 1fr;
  gap: 6em;
}
.client-list {
    display: flex;
    flex-flow: row nowrap;
    gap: 7.75em;
    justify-content: center;
    align-items: center;
}

.client-list img {
  opacity: .5;
}